@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Rowdies&display=swap");
body {
    background-image: linear-gradient(to right, #8360c3, #2ebf91);
    font-family: "Rowdies", cursive;
}

h3 {
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
    font-size: 40px;
}

img {
    width: 180px;
    height: 180px;
}

#grid {
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}